@model RegistroNotas.Models.ViewModels.NoteGeneral
@{
    ViewBag.Title = "Notas Docente";

    string userName = Session["User"] as String;

    int idRol = Convert.ToInt32(Session["Role"]);
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="@Url.Content("~/Home/Index")">
            Registro de Notas
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item dropdown">
                    <span class="nav-link">
                        Bienvenido, @userName
                    </span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Content("~/Auth/Logout")">
                        Cerrar Sesión
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <nav id="sidebar" class="bg-light">
                <div class="position-sticky">
                    <div>
                        <ul class="nav flex-column py-3 px-1">
                            @if (idRol == 2)
                            {
                                <li class="nav-item">
                                    <span class="nav-link text-bg-dark fw-bold">
                                        ESTUDIANTE
                                    </span>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Ver Notas</a>
                                </li>
                            }
                            @if (idRol == 3)
                            {
                            <li class="nav-item">
                                <span class="nav-link text-bg-dark fw-bold">
                                    DOCENTE
                                </span>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" style="color:black;" href="#">Agregar Notas</a>
                            </li>
                            }
                            @if (idRol == 1)
                            {
                            <li class="nav-item">
                                <span class="nav-link text-bg-dark fw-bold">
                                    ADMINISTRADOR
                                </span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Content("~/User/Index")">Usuarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Content("~/Teacher/Index")">Docentes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Content("~/Estudent/Index")">Estudiantes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Content("~/Subject/Index")">Materias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Content("~/Course/Index")">Cursos</a>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-md-9">
            <button type="button" class="btn btn-success mb-5" data-bs-toggle="modal" data-bs-target="#createDocente">
                Crear Nueva Nota
            </button>

            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Tareas</th>
                        <th>Laboratorios</th>
                        <th>Pruebas</th>
                        <th>Examenes</th>
                        <th>Estudiante</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.noteListViews)
                    {
                        <tr>
                            <td>@item.note_1</td>
                            <td>@item.note_2</td>
                            <td>@item.note_3</td>
                            <td>@item.note_4</td>
                            <td>
                                @foreach (var item2 in Model.estudentListViews)
                                {
                                    if (item2.id == item.id_student)
                                    {
                                        @item2.name
                                    }
                                }
                            </td>
                            <td>
                                
                                <button class="btn btn-danger" onclick="deleteTeacher(@item.id)">Eliminar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>


<div class="modal fade" id="updateDocente" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar Notas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="text" class="form-control" id="id_update" hidden>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="name_update" class="form-label">Tareas</label>
                            <input type="text" class="form-control" id="note_1_update">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="lastname_update" class="form-label">Laboratorios</label>
                            <input type="text" class="form-control" id="note_2_update">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="email_update" class="form-label">Pruebas</label>
                            <input type="email" class="form-control" id="note_3_update">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="especialty_update" class="form-label">Examenes</label>
                            <input type="text" class="form-control" id="note_4_update">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="estudent_id" class="form-label">Estudiante</label>
                        <select class="form-select" id="estudent_id_update">
                            <option selected value="">-----------</option>

                            @foreach (var item in Model.estudentListViews)
                            {
                                <option value="@item.id">@item.name @item.last_name</option>
                            }
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="estudent_id" class="form-label">Curso</label>
                        <select class="form-select" id="course_id_update">
                            <option selected value="">-----------</option>

                            @foreach (var item in Model.courseListViews)
                            {
                                <option value="@item.id">@item.name</option>
                            }
                        </select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="updateTeacher">Actualizar Notas</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createDocente" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Nueva Nota</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="name" class="form-label">Tareas</label>
                            <input type="text" class="form-control" id="note_1">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="lastname" class="form-label">Laboratorios</label>
                            <input type="text" class="form-control" id="note_2">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="email" class="form-label">Pruebas</label>
                            <input type="email" class="form-control" id="note_3">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="especialty" class="form-label">Examenes</label>
                            <input type="text" class="form-control" id="note_4">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="estudent_id" class="form-label">Estudiante</label>
                        <select class="form-select" id="estudent_id">
                            <option selected value="">-----------</option>

                            @foreach (var item in Model.estudentListViews)
                            {
                                <option value="@item.id">@item.name @item.last_name</option>
                            }
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="estudent_id" class="form-label">Curso</label>
                        <select class="form-select" id="course_id">
                            <option selected value="">-----------</option>

                            @foreach (var item in Model.courseListViews)
                            {
                                <option value="@item.id">@item.name</option>
                            }
                        </select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="saveTeacher">Guardar Nota</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#example').DataTable();

            $('#updateTeacher').on('click', function () {

                let id = $('#id_update').val();
                let name = $('#name_update').val();
                let lastname = $('#lastname_update').val();
                let email = $('#email_update').val();
                let specialty = $('#especialty_update').val();

                $.ajax({
                    url: '@Url.Content("~/Note/UpdateNote")',
                    type: 'POST',
                    data: {
                        id: id,
                        name: name,
                        last_name: lastname,
                        email: email,
                        specialty: specialty
                    },
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                            location.reload();
                        }
                        else {
                            alert(response.message);
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });

            $('#saveTeacher').on('click', function () {

                let note_1 = $('#note_1').val();
                let note_2 = $('#note_2').val();
                let note_3 = $('#note_3').val();
                let note_4 = $('#note_4').val();
                let estudent_id = $('#estudent_id').val();
                let course_id = $('#course_id').val();


                $.ajax({
                    url: '@Url.Content("~/Note/CreateNote")',
                    type: 'POST',
                    data: {
                        note_1: note_1,
                        note_2: note_2,
                        note_3: note_3,
                        note_4: note_4,
                        id_student: estudent_id,
                        id_course: course_id
                    },
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                            location.reload();
                        }
                        else {
                            alert(response.message);
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });

        const viewTeacher = (id) => {

            $.ajax({
                url: '@Url.Content("~/Note/GetNote")',
                type: 'POST',
                data: {
                    id: id
                },
                success: function (response) {
                    if (response.success) {
                        $('#id_update').val(response.data.id);
                        $('#note_1_update').val(response.data.note_1);
                        $('#note_2_update').val(response.data.note_2);
                        $('#note_3_update').val(response.data.note_3);
                        $('#note_4_update').val(response.data.note_4);
                        $('#estudent_id_update').val(response.data.id_student);
                        $('#course_id_update').val(response.data.id_course);


                        $('#updateDocente').modal('show');
                    }
                    else {
                        alert(response.message);
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });

        }
        const deleteTeacher = (id) => {

            let confirmation = confirm("¿Estas seguro de eliminar este docente?");

            if (confirmation) {
                $.ajax({
                    url: '@Url.Content("~/Note/DeleteNote")',
                    type: 'POST',
                    data: {
                        id: id
                    },
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                            location.reload();
                        }
                        else {
                            alert(response.message);
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        }
    </script>
}